<div class="container">
  <h1 class="mt-5">Editing Investigador</h1>
  
  <%= render "form", investigador: @investigador %>
  
  <div class="mt-3">
    <%= link_to "Show this investigador", @investigador, class: "btn btn-primary" %> |
    <%= link_to "Back to Investigadors", investigadors_path, class: "btn btn-secondary" %>
  </div>
</div>
