<h1>Editing investigacion</h1>

<%= render "form", investigacion: @investigacion %>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= link_to "Show this investigacion", @investigacion, class: "btn btn-primary" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Back to investigacions", investigacions_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
