<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mt-5">New Investigacion</h1>
      <%= render "form", investigacion: @investigacion %>
      <br>
      <div class="mt-3">
        <%= link_to "Back to Investigacions", investigacions_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>
